### Environments ###
.venv

### Django ###
__pycache__
api_gateway/api_gateway/db.sqlite3


### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### JetBrains IDEs ###
.idea/

# ft_http copies
*/ft_http
!ft_http/
