@import url('template.css');

.error_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid var(--flashy-pink);
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.error_div span {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}