@import url('variables.css');

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
	font-weight: 500;
    scroll-behavior: smooth;
}

/* CONTENT */

.page_content_container {
    flex: 1;
    background-color: var(--purple-blue);
}

.page_content {
    margin-top: 50px;
    color: white;
}

/* NOTIFICATIONS */

#notification_div {
    position: fixed;
    right: -300px;
    top: 90%;
    transform: translateY(-50%);
    width: 300px;
    padding: 10px 20px;
    background-color: var(--flashy-pink);
    color: var(--light-beige);
    font-size: 16px;
    border-radius: 1px;
    border: 3px inset var(--black-blue);
    opacity: 0;
    transition: right 0.5s ease-in-out, opacity 1s ease-in-out;
    z-index: 1500;
}

#notification_div.show {
    right: 20px;
    opacity: 1;
}

/* FOOTER */

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: linear-gradient(45deg, var(--black-blue), var(--marine-blue));
    color: var(--light-beige);
}

footer div {
    text-align: center;
    margin: auto;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: var(--marine-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--flashy-pink);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(330, 100%, 80%);

    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: var(--marine-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}

/* Black screen filter */
.black_screen_filter {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 150;
    animation: black_screen_filter 0.5s 1;
    transition: opacity 0.5s ease-in-out;
}

@keyframes black_screen_filter {
    0% { opacity: 0; }
    100% { opacity: 0.5; }
}

/* Cookie banner */

#cookie_consent_banner {
    padding: 50px;
    position: fixed;
    z-index: 2500;
    bottom: 0px;
    left: 0%;
    width: 100%;
    color: var(--light-beige);
    background-color: var(--marine-blue);
    display: none;
    opacity: 0;
    flex-direction: column;
    transition: .5s ease;
}

.cookie_consent_buttons
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.cookie_consent_button
{
    padding: 10px 25px;
    cursor: pointer;
    border: 1px solid var(--black-blue);
    transition: .3s ease;
}

.cookie_consent_button:hover
{
    border: 1px solid var(--beige);
}

.cookie_decline
{
    background-color: var(--light-beige);
    color: var(--black-blue);
}

.cookie_consent
{
    background-color: var(--flashy-pink);
}