@import url('variables.css');

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
	font-weight: 500;
    scroll-behavior: smooth;
}

/* CONTENT */

.page_content_container {
    flex: 1;
    background-color: var(--purple-blue);
}

.page_content {
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

/* NOTIFICATIONS */

#notification_div {
    position: fixed;
    right: -300px;
    top: 90%;
    transform: translateY(-50%);
    width: 300px;
    padding: 10px 20px;
    background-color: var(--flashy-pink);
    color: var(--light-beige);
    font-size: 16px;
    border-radius: 1px;
    border: 3px inset var(--black-blue);
    opacity: 0;
    transition: right 0.5s ease-in-out, opacity 1s ease-in-out;
    z-index: 1500;
}

#notification_div.show {
    right: 20px;
    opacity: 1;
}

/* FOOTER */

footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background: linear-gradient(45deg, var(--black-blue), var(--marine-blue));
    color: var(--light-beige);
}

footer div {
    text-align: center;
    margin: auto;
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: var(--marine-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--flashy-pink);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(330, 100%, 80%);

    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: var(--marine-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    display: none;
}