@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --black-blue: #02010A;
    --darker-marine-blue: #030426;
    --marine-blue: #04052E;
    --purple-blue: #140152;
    --light-purple-blue: #22007C;
    --electric-blue: #0D00A4;
    --flashy-pink: #F72585;
    --beige: #ffffcc;
    --light-beige: #ffffee;
    --victory-green: #0d6f2f;
    --lose-red: #d1323f98;
    --gray-white: #f0f0f0;
}