:root {
    --paddle-color: var(--flashy-pink);
    --ball-color: white;
    --canvas-color: var(--electric-blue);
    --canvas-stroke-color: var(--purple-blue);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --net-color: #ffffff80;
}

#pongCanvas {
    display: block;
    margin: 0 auto;
    border: 8px solid var(--purple-blue);
    box-shadow: 0 0 20px var(--shadow-color);
}

.game_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canva_container {
    position: relative;
    width: 816px;
    height: 400px;
}

@keyframes text-impact {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.pong_text_overlay_shown {
    opacity: 0; 
    animation: text-impact 0.7s ease-out forwards;
}

.game_texts_overlay {
    position: absolute;
    width: 800px;
    margin-left: 8px;
    text-align: center;
    top: 10%;
    font-family: "Teko", sans-serif;;
    font-size: 4em;
    text-shadow: 2px 2px 4px var(--flashy-pink);
    z-index: 2;
    opacity: 0;
}

.pong_game_infos {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
}

.pong_score {
    font-size: 2.5em;
    font-family: "Teko", sans-serif;;
    text-shadow: 3px 3px 3px black;
}

.pong_infos_self {
    margin-left: 200px;;
}

.pong_infos_opponent {
    margin-right: 200px;;
}

.pong_game_users_info
{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    background-color: var(--light-purple-blue);
    border: 3px outset var(--darker-marine-blue);
    padding: 10px 15px;
}

.pong_game_user_info
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.pong_game_user_info_self {
    margin-left: 10px;
}

.pong_game_user_info_opponent {
    margin-right: 10px;
    flex-direction: row-reverse;
}

.pong_game_avatar
{
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 3px inset var(--flashy-pink);
}

.pong_game_vs
{
    font-size: 2rem;
    font-family: "Teko", sans-serif;
    vertical-align: center;
}

.pong_game_displayname
{
    margin: 10px;
}