@import url('../../variables.css');

#tournamentErrorDiv {
    margin: 20px;
    visibility: hidden;
    border: 1px solid var(--lose-red);
    background-color: #d18d92;
    border-radius: 5px;

    transition: opacity 1s ease, max-height 1s ease;
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    padding: 20px;
    width: 40%;
    margin: auto;

    color: var(--gray-white);
}